@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.bg-hero {
    background-color: #362A50;
}


/* container-2 */
.f-color {
    color: #FFBD3B !important;
}

.home {
    color: #362A50;
    text-decoration: none;
    margin-right: 20px;
}

.home:hover {
    color: #FFBD3B;
    transition: all 0.3s;
    margin-right: 20px;
}

/* -------------button------------- */
.header-button {
    color: #362A50;
    background-color: #FFBD3B;
}

.header-button:hover {
    background-color: #362A50;
    color: #fff;
    transition: all 0.4s;
}

/* container-3 */
/* item-1 */


.pragrah-color {
    color: #FDFDFE;
}

.w-80 {
    width: 80% !important;
}

.hero-button-1 {
    background-color: #FFBD3B;
    border: 0.5px solid #FFBD3B;
    color: #362A50;
}

.hero-button-1:hover {
    color: #FFBD3B;
    background-color: #362A50;
    border: 1px solid #FFBD3B;
    transition: all 0.4s;
}

.hero-button-2 {
    background-color: #FFF;
    border: 0.5px solid #fff;
    color: #362A50;
}

.hero-button-2:hover {
    color: #fff;
    background-color: #362A50;
    border: 1px solid #fff;
    transition: all 0.4s;
}

/* nav */
.owl-theme {
    position: relative;
}

.owl-nav {
    position: absolute;
    content: '';
    display: flex !important;
    justify-content: space-between;
    top: 40%;
    width: 100%;
    font-size: 20px;
    z-index: 1;
    border-radius: 20px;
}

.color-grey {
    color: #E1DFE5;
}

.color-purple {
    color: #362A50;
}

.bg-lpurple {
    background-color: #F6F2FF;

}

.bor {
    border: 1px solid #E8E8E8 !important;
}

.service-img {
    position: absolute;
    content: '';
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.service-arrow {
    position: absolute;
    content: '';
    font-size: 20px;
    color: #362a50;
    background-color: #FFBD3B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.About-bor {
    border-top: 13px solid #FFBD3B !important;
}

/* container-fluid-4 */
.our-project {
    text-decoration: none !important;
    color: #362a50;
}

.our-bor {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
}

.our-button {
    border: none;
    background-color: transparent;
    border-bottom: none;
}

.our-bor:focus {
    background-color: #FFBD3B;
    border-radius: 50px !important;
    padding: 10px 20px;
    border: none;
}

.text-bor {
    border-top: 7px solid #362a50 !important;
}

.text-bory {
    border-top: 7px solid #FFBD3B !important;
}

.bg-yellow {
    background-color: #FFBD3B !important;
}

/* .text-bor {
    border-top: 7px solid #362a50 !important;
} */

.pt-10 {
    padding-top: 10%;
}

/* .bg-client {
    background-image: url(../img/client-bg.jpg);

} */

/* .client-pad {
    padding: 0px 20px 0px 90px;
} */

/* container-fluid-7 */
.bg-client {
    background-image: url(../img/client-bg.jpg);
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

.our-client-bor {
    border-top: 8px solid #FFBD3B !important;
}

.client-pad {
    padding: 0px 30px 0px 70px;
}

.client-img-dot {
    width: 50px !important;
}

.elementor-video {
    object-fit: cover;
    cursor: grab;
}

.pad {
    padding-left: 20%;
    width: 100%;
    height: 600px;
    padding-right: 20%;
    background-color: transparent;
}

/* container-fluid-8 */
.faq-color:focus {
    color: #362A50 !important;
}

.faq-bg {
    background-color: #F6F2FF;
    border: 0.2px solid #D4D4D5 !important;
    box-shadow: none !important;
    border: none;
}

.faq-bor {
    border-radius: 10px;
}

/* container-fluid-9 */
.video-bg {
    background-image: url(../img/bg-work.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.bor-right {
    border-right: 1px solid #362A50;
}

/* container-fluid-10 */
.in-box {
    background-color: #FFBD3B;
    width: 70px !important;
    height: 70px !important;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.box-bg {
    background-color: #F6F2FF;
}

.hero-button-3 {
    background-color: #FCB900;
    border: 0.5px solid #FCB900;
    color: #362A50;
}

.hero-button-3:hover {
    color: #fff;
    background-color: #362A50;
    border: 1px solid #362A50;
    transition: all 0.4s;
}

/* container-fluid-11 */
.footer-bg {
    background-image: url(../img/footer-bg.jpg);
    background-size: 100%;

}

.footer-top-bor {
    border-top: 7px solid #FCB900;
}

.baby {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    transform: translate(0%, -85%);
    text-align: end;
}

.icon-color {
    background-color: #FFBD3B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.icon-color:hover {
    background-color: #daa232;
    scale: 0.9;
    transition: all 0.5s;
}

.white {
    color: white;
    text-decoration: none;
}

.white:hover {
    color: #daa232;
    transition: all 0.3s;
}

.foo-emi::placeholder {
    color: white;
    content: '\f061';
}

.hero-button-4 {
    color: #362A50;
    background-color: #FCB900;
    border: 0;
    padding: 10px 20px;
}

.arrow {
    position: absolute;
    right: 0;
    transform: translate(-80%);
    cursor: pointer;
}

.h-300px {
    height: 300px !important;
}

.line {
    position: absolute;
    border-style: dashed;
    border-width: 2px;
    top: 30%;

}

.pulse-button {
    animation: borderPulse 1000ms infinite ease-out;
    color: #362A50;
    cursor: pointer;
    border-radius: 100px;
    background-color: #FCB900;
}

.pulse-button:hover {
    color: white;
    background-color: #362a50;
    animation: Pulse 1000ms infinite ease-out;
    transition: all 0.5s;
}

@keyframes borderPulse {
    0% {
        box-shadow: inset 0px 0px 0px 5px rgba(252, 185, 0, 0.39), 0px 0px 0px 0px rgba(252, 185, 0, 1);
    }

    100% {
        box-shadow: inset 0px 0px 0px 3px rgba(252, 185, 0, 0.281), 0px 0px 0px 10px rgba(252, 185, 0, 0);
    }
}

@keyframes Pulse {
    0% {
        box-shadow: inset 0px 0px 0px 5px rgba(138, 143, 167, 0.39), 0px 0px 0px 0px rgb(73, 71, 124);
    }

    100% {
        box-shadow: inset 0px 0px 0px 3px rgba(77, 83, 136, 0.281), 0px 0px 0px 10px rgba(24, 15, 107, 0);
    }
}


.p-8px {
    padding: 8px;
}

.pad-top8 {
    padding-top: 8px;
}

.other-bg {
    background-image: url(../img/other\ page\ bg.jpg);
    background-repeat: no-repeat;
}

.bg-color-card {
    background-color: #F6F2FF;
    border-radius: 15px;
}

.bg-color-yellow {
    background-color: #FFBD3B;
    width: 65px;
    height: 65px;
    font-size: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-loct:hover {
    color: #69727d !important;
    transition: all 0.5s;
}

.gray-bg {
    background-color: #F6F2FF;
    border-radius: 10px;
}

.img-radius {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.proto-bg {
    background-color: #F6F2FF;
}

.top-container {
    padding: 30px;
    text-align: center;
}

.header {
    padding: 10px 16px;
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}